[build]
builder = "dockerfile"
dockerfilePath = "./Dockerfile"
watchPatterns = ["src/**", "prisma/**", "package.json", "tsconfig.json"]

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3